body, #root {
    height: 100%;
}

:root {
    --border-color: #ddd;
}

.ProgramEditor {
    background: #555;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: monospace;
}

.codeline {
    color: white;
    line-height: 1.15;
    min-height: 1.15em;
}

.window {
    padding: 10px;
    /* border: 1px solid #777;
    border-width: 0 1px 0 0; */
    /* border-bottom: 1px solid #222; */
    /* border-right: 1px solid #222; */
    font-family: monospace;
    /* background: #fafafa; */
    /* background: white; */
}

.table {
    border-collapse: collapse;
    font-size: 14px;
    td, th {
        /* border: 1px solid #c7c7c7; */
        /* color: #222; */
        border: 1px solid #ddd;
        /* border-width: 0 0 1px 0; */
        padding: 0px 8px;
    }
}

.BytesViewTable {
    font-size: 14px;
    /* font-family: monospace; */
    border-collapse: collapse;
    td {
        vertical-align: top;
        padding: 0px 8px;
        border: 1px solid #c7c7c7;
        border-width: 0 1px;
        white-space: nowrap;
    }

    tbody {
        /* border: 1px solid #c7c7c7;
        border-width: 0 0 1px 0; */
        padding: 10px;
    }

    .mono {
        font-family: monospace;
        font-size: 12px;
    }
}

.BytesDivider {
    td {
        padding: 0;
    }
    hr {
        border-color: var(--border-color);
        border-width: 0 0 1px 0;
    }
}

.AssemblerTable {
    border-collapse: collapse;
    border: 2px solid black;
    color: #222;
    td, th {
        border: 1px  solid #ccc;
        border-bottom-color: #777;
        border-bottom-width: 2px;
        padding: 0px 2px;
    }
    th {
        /* border-color: #ccc #000; */
        border-color: #777;
        /* border-right-color: #777; */
        /* border-right-width: 2px; */
        border-width: 2px;
    }
}
